<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur3e">
 <xacro:arg name="name" default="ur"/>
   <!-- robot name parameter -->
 
  <xacro:macro name="ur3e" params="
    name
    prefix
    parent
    *origin
    joint_limits_parameters_file:='$(find ur_description)/config/ur3e/joint_limits.yaml'
    kinematics_parameters_file:='$(find ur_description)/config/ur3e/default_kinematics.yaml'
    physical_parameters_file:='$(find ur_description)/config/ur3e/physical_parameters.yaml'
    visual_parameters_file:='$(find ur_description)/config/ur3e/visual_parameters.yaml'
    transmission_hw_interface
    safety_limits:=false
    safety_pos_margin:=0.15
    safety_k_position:=20
    use_fake_hardware
    fake_sensor_commands
    sim_gazebo
    sim_ignition
    headless_mode
    initial_positions
    use_tool_communication
    tool_voltage
    tool_parity
    tool_baud_rate
    tool_stop_bits
    tool_rx_idle_chars
    tool_tx_idle_chars
    tool_device_name
    tool_tcp_port
    robot_ip
    script_filename
    output_recipe_filename
    input_recipe_filename
    reverse_port
    script_sender_port
    reverse_ip
    script_command_port">
    
    <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
    <xacro:ur_robot
    name="${name}"
    prefix="${prefix}"
    parent="${parent}"
    origin="${origin}"
    joint_limits_parameters_file="${joint_limits_parameters_file}"
    kinematics_parameters_file="${kinematics_parameters_file}"
    physical_parameters_file="${physical_parameters_file}"
    visual_parameters_file="${visual_parameters_file}"
    transmission_hw_interface="${transmission_hw_interface}"
    safety_limits="${safety_limits}"
    safety_pos_margin="${safety_pos_margin}"
    safety_k_position="${safety_k_position}"
    use_fake_hardware="${use_fake_hardware}"
    fake_sensor_commands="${fake_sensor_commands}"
    sim_gazebo="${sim_gazebo}"
    sim_ignition="${sim_ignition}"
    headless_mode="${headless_mode}"
    initial_positions="${initial_positions}"
    use_tool_communication="${use_tool_communication}"
    tool_voltage="${tool_voltage}"
    tool_parity="${tool_parity}"
    tool_baud_rate="${tool_baud_rate}"
    tool_stop_bits="${tool_stop_bits}"
    tool_rx_idle_chars="${tool_rx_idle_chars}"
    tool_tx_idle_chars="${tool_tx_idle_chars}"
    tool_device_name="${tool_device_name}"
    tool_tcp_port="${tool_tcp_port}"
    robot_ip="${robot_ip}"
    script_filename="${script_filename}"
    output_recipe_filename="${output_recipe_filename}"
    input_recipe_filename="${input_recipe_filename}"
    reverse_port="${reverse_port}"
    script_sender_port="${script_sender_port}"
    reverse_ip="${reverse_ip}"
    script_command_port="${script_command_port}"/>
     </xacro:macro>
</robot>
