<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3e">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <!-- Import ur3e urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/ur3e_robotiq85_gripper.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur3e.ros2_control.xacro" />


    <xacro:ur3e_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

</robot>
